
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
a{
  text-decoration: none !important;
}
li{
  list-style: none;
  color: white !important;
}
.mid-text{
  color:#00D094 !important
}
.btn-primary{
  background-color:#00D094 !important;
  border:#02a878 !important;
  color:#0C263A !important
 }
.btn:hover{
  background-color: #02a878 !important;
  color: white;
}
.home_body_bg {
  background-color: #081C17;
  height: 100%;
  width: 100%;
  background-image: url("/image/banner_bg_dark.png");
}
.wrapper-glass{
  height: 100%;
    width: 45%;
    position: absolute;
    z-index: 9;
    /* left: 0; */
    right: -31px;
    background: rgba(255, 255, 255, 0.05);
    transform: rotate(80deg);
    border-radius: 6rem;
}
.glass-card{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1B2D29;
  border-radius: 0.5em;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  height: 65px;
  margin: 5px;
  color:white;
  padding:5px
}
.breadcrumb_bg{
  background: url("/image/breadcrumb_bg.png")  no-repeat top;
  height: 250px;
  width:100%;
}
td,th {
  background-color: #1B2D29 !important;
  color: white !important;
}
.card_bg
{
  background-color: #1B2D29 !important;
}

.footerBg {
  background: #00150F;
  color: #fff;
}
/* .container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
} */
.footer {
  position: relative;
  padding: 3rem 0;
  color: #fff;
  background: #000;
  margin-top: auto;
}
.footer__columns {
  display: flex;
  justify-content: space-between;
}
.footer__col-title {
  font-size: 1.6rem;
  /* margin-bottom: 2rem; */
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.footer__col-title * ~ span {
  margin-left: 1rem;
}

a * ~ span {
  margin-left: 1rem;
}
.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__copyrights {
  padding-top: 3rem;
  margin-top: 3rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__copyrights p {
  display: flex;
}
.footer__copyrights a {
  margin-left: 0.5rem;
}
@keyframes parralax {
  0% {
    background-position: 260px;
  }
  100% {
    background-position: -10000vw;
  }
}
@keyframes moto {
  0% {
    transform: translateY(0) rotate(0);
  }
  5% {
    transform: translateY(0) rotate(-5deg);
  }
  25% {
    transform: translateY(60px) rotate(-20deg);
  }
  49% {
    transform: translateY(0) rotate(-1deg);
  }
  51% {
    transform: translateY(0) rotate(1deg);
  }
  75% {
    transform: translateY(60px) rotate(20deg);
  }
  80% {
    transform: translateY(60px) rotate(0deg);
  }
  98% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes voiture {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0);
  }
}
.footer__parralax {
  position: absolute;
  left: 0;
  top: -300px;
  height: 300px;
  width: 100%;
  overflow: hidden;
}
.footer__parralax-premierplan {
  background-position: 260px;
}
.footer__parralax-trees,
.footer__parralax-premierplan,
.footer__parralax-secondplan {
  position: absolute;
  inset: 0;
  background-repeat: repeat-x;
  background-position-y: 100% !important;
  animation: parralax 600s linear infinite;
}
.footer__parralax-moto {
  position: absolute;
  bottom: 80px;
  left: 50%;
  margin-left: -250px;
  height: 200px;
  width: 150px;
  background: url(https://i.ibb.co/JCGfFJd/moto-net.gif);
  background-repeat: no-repeat;
  transform-origin: 50% 80%;
  animation: moto 5s linear infinite;
}
.footer__parralax-voiture {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: 250px;
  height: 114px;
  width: 206px;
  background: url(https://i.ibb.co/0Qhp4DN/voiture-fumee.gif);
  background-repeat: no-repeat;
  animation: voiture 1s linear infinite;
}
.footer__parralax-trees {
  background-image: url(https://i.ibb.co/nQM4PGJ/arbres.png);
  bottom: -60px;
  animation-duration: 1000s;
}
.footer__parralax-premierplan {
  background-image: url(https://i.ibb.co/RQhDWbk/premierplanv3.png);
  animation-duration: 500s;
}
.footer__parralax-secondplan {
  background-image: url(https://i.ibb.co/J3TjC4W/second-plan.png);
  animation-duration: 600s;
}
.container_support{
  margin-left:5% ;
  width: 67% ;
}
@media only screen and (max-width : 500px) {
  .footer__columns{
    display: flex;
    flex-direction:column
  }
  .container_support{
    margin-left:0%;
    width: 100%;
  }
}